<% if (date !== 'empty') {
    
    const currentMonth = date.getMonth()+1
    const currentYear = date.getFullYear()
    const today = new Date();
    today.setHours(0, 0, 0, 0);
    console.log(today, date, today==date)
    %>
    <a href="/calendar/<%= date.getFullYear() %>/<%= date.getMonth()+1 %>/<%= date.getDate() %>">
    <div class="day" id="<%= today.getTime() === date.getTime() ? 'today' : '' %>">
        <p class="dayTitle"><%= date.getDate()  %></p> 
        <div class="task-completed">
            <svg width="18px" height="18px" viewBox="0 0 24 24" fill="limegreen" xmlns="http://www.w3.org/2000/svg">
                <path d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <span>10</span>
        </div>

    <div class="task-pending">
        <svg width="18px" height="18px" viewBox="0 0 24 24" fill="gray" xmlns="http://www.w3.org/2000/svg">
        <path d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <span>10</span>
    </div>
    </div>
    <% } else { %>
        <div class=""></div>
        <%} %>
    </a>