<% const category = task.category%>
<a href="/task/<%= task.id %>">
<article class="task-template">

    <!-- TITLE -->
    <h3 class="task-title"><%= task.title %></h3>
    
    <!-- CATEGORY -->
    <div class="task-category color<%= category %>">
      <span><%= task.category %></span>
     </div>
     
     <!-- DUE -->
     <div class="task-due">
       <p class="task-dueTime"><%= task.dueTime %></p>
       <p class="task-dueDate"><%= task.dueDate %> </p>
      </div>
  </article>  
</a>