<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Tracker | <%= task.title %></title>
    <link rel="stylesheet" href="../taskViewer.css">
</head>
<body>
    <h2>
        <%= task.title %>
    </h2>
    <h4>
        <%= task.category %>
    </h4>
    <p><%= task.description %></p>
    <p><%= task.dueTime %></p>
    <p><%= task.dueDate %></p>
    
</body>
</html>